html{
    // define the font size as 1% of the view square
    font-size: min(0.1vw, 0.1vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

body{
    background: #102;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    width: 1000rem;
    height: 1000rem;
    overflow: hidden;
    font-size: 15rem;
    margin: 0;
    text-wrap: balance;
    position: relative;
    color: #ddd;
    user-select: none;
}

*{
    box-sizing: border-box;
}

.C--card, .C--character{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    transition:
        inset 0.4s ease-in-out,
        transform 0.4s ease-in-out,
        opacity 0.4s linear,
        margin 0.15s linear;  // used for attack animation
}

.C--card{
    width: 190rem;
    height: 285rem;
    background: #123;
    border: 5rem solid #469;
    // z index ranges from 11-20, 24 for hover, 25 for draw & discard

    &:hover, &.C--active{
        transform: rotate(0deg)!important;
        z-index: 24!important;
    }

    &.C--active{
        box-shadow: 0 0 0 4rem #fff;
        transition:
            inset 0.1s linear,
            transform 0.4s ease-out,
            opacity 0.4s linear;
    }

    &.C--unplayable{
        filter: grayscale(50%);
        border-color: #666;
    }

    &.C--faceDown:before{
        content: '';
        position: absolute;
        inset: 0;
        z-index: 2;
        background: repeating-linear-gradient(45deg, #123 0 10rem, #246 10rem 20rem);
    }

    &.C--faceDown .C--costA{
        display: none;
    }

    .C--pic{
        width: 100%;
        aspect-ratio: 4 / 3;
        image-rendering: pixelated;
        // prevents rounding errors from showing the adjacent sprite at the edges
        box-shadow: inset 0 0 0 1px #000;
    }

    .C--costA, .C--costM{
        position: absolute;
        top: -2rem;
        left: -2rem;
        z-index: 1;
    }

    .C--costM{
        top: 38rem;
    }

    .C--name{
        background: var(--color);
        font-size: 21rem;
        padding: 5rem;
    }

    .C--text{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem;
        flex: 1 1 auto;
        font-size: 18rem;
        justify-content: center;
    }
}

.C--costA, .C--costM{
    font-size: 21rem;
    width: 35rem;
    height: 35rem;
    font-weight: bold;
    padding: 2rem;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        z-index: -1;
    }
}

.C--costA:before{
    inset: 0;
    background: #a08;
    outline: 2rem solid #804;
    transform: rotate(45deg);
    transform-origin: center;
}

.C--costM:before{
    inset: -3rem;
    background: #08a;
    outline: 2rem solid #048;
    border-radius: 50%;
}

.C--character{
    align-items: center;
    gap: 5rem;

    .C--gettingMonsterTarget &:hover:not(.C--playerCharacter){
        box-shadow: 0 0 15rem #fff8;
    }

    .C--pic{
        width: 100%;
        aspect-ratio: 4 / 3;
        background: #fff6;
    }

    .C--name{
        font-size: 21rem;
    }

    .C--hp, .C--block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 101rem;

        &.C--wide{
            max-width: 201rem;
        }
    }

    .C--pendingAction{
        font-size: 30rem;
    }
}

.C--playerCharacter .C--pendingAction{
    display: none;
}

// hp chunks
.C--hpChunk-full, .C--hpChunk-empty, .C--hpChunk-pending, .C--blockChunk{
    width: 20rem;
    height: 20rem;
    $outset: 25%;
    clip-path: polygon(
        50% 0% - $outset,
        100% + $outset 50%,
        50% 100% + $outset,
        0% - $outset 50%,
    );
}
.C--hpChunk-full{
    background: #ef2641;
}
.C--hpChunk-pending{
    background: #ddd;
}
.C--hpChunk-empty{
    background: #52304f;
    transition: background 0.4s;
}
.C--blockChunk{
    background: #bbb;
}

.C--arrowCanvas{
    // the arrow canvas
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 9;
}

.C--passButton{
    position: absolute;
    right: 10rem;
    bottom: 310rem;
    z-index: 30;
    padding: 7rem 14rem;
    font-size: 22rem;
    background: #123;
    border: 5rem solid #469;
}

.C--resources{
    position: absolute;
    left: 10rem;
    bottom: 310rem;
    z-index: 9;
    .C--actionPointRow, .C--manaRow {
        margin-top: 15rem;
        display: flex;
        flex-direction: row;
        height: 35rem;

        &>div:before{
            box-shadow: 0 0 0 6rem #fffa;
        }
    }
}

.C--gettingCard .C--card:not(.C--unplayable), .C--gettingCard .C--passButton{
    // the "click a card" state
    box-shadow: 0 0 0 4rem #8bd;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 0 4rem #e8f;
    }
}
